//animations coeurs

input[type="checkbox"] {
  visibility: hidden;
} //tous les checkbox sont invisibilisés

#checkbox-1:checked + label .fa-heart,
#checkbox-2:checked + label .fa-heart,
#checkbox-3:checked + label .fa-heart,
#checkbox-4:checked + label .fa-heart,
#checkbox-5:checked + label .fa-heart {
  display: none;
}

#checkbox-1:checked + label .fa-heart:first-child,
#checkbox-2:checked + label .fa-heart:first-child,
#checkbox-3:checked + label .fa-heart:first-child,
#checkbox-4:checked + label .fa-heart:first-child,
#checkbox-5:checked + label .fa-heart:first-child {
  display: none;
}

#checkbox-1:checked + label .fa-heart:last-child,
#checkbox-2:checked + label .fa-heart:last-child,
#checkbox-3:checked + label .fa-heart:last-child,
#checkbox-4:checked + label .fa-heart:last-child,
#checkbox-5:checked + label .fa-heart:last-child {
  display: inline-block;
  opacity: 2;
}

//animation entrée

@keyframes scale-in {
  from {
    transform: scale(0%);
  }
  to {
    transform: scale(100%);
  }
}

//-----------------------------------------
//animations checks verts

//animation  checked move-in depuis la droite
.anim-check:checked + .card-food::after {
  opacity: 1;
  transform: translateX(-100%);
  animation: move-in 500ms ease-in-out both;

  @keyframes move-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
}
//animation unchecked move-out depuis la gauche
.anim-check:not(:checked) + .card-food::after {
  opacity: 1;
  transform: translateX(100%);
  animation: move-out 500ms ease-in-out both;

  @keyframes move-out {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
  }
}
//--------------------------------------------
//prix et ellipsis textes

input[type="checkbox"]:checked + .card-food {
  .text-h3,
  .price,
  span {
    transform: translateX(-59px);
  }

  .text-h3,
  span {
    transform: translateX(0);
    max-width: 245px;
  }
  @media only screen and (min-width: 1025px) {
    .text-h3,
    span {
      transform: translateX(0);
      max-width: none;
    }
  }
}
