//animations coeurs

input[type="checkbox"] {
  visibility: hidden;
} //tous les checkbox sont invisibilisés

#checkbox_1:checked + label .fa-heart,
#checkbox_2:checked + label .fa-heart,
#checkbox_3:checked + label .fa-heart,
#checkbox_4:checked + label .fa-heart,
#checkbox_5:checked + label .fa-heart {
  display: none;
}

#checkbox_1:checked + label .fa-heart:first-child,
#checkbox_2:checked + label .fa-heart:first-child,
#checkbox_3:checked + label .fa-heart:first-child,
#checkbox_4:checked + label .fa-heart:first-child,
#checkbox_5:checked + label .fa-heart:first-child {
  display: none;
}

#checkbox_1:checked + label .fa-heart:last-child,
#checkbox_2:checked + label .fa-heart:last-child,
#checkbox_3:checked + label .fa-heart:last-child,
#checkbox_4:checked + label .fa-heart:last-child,
#checkbox_5:checked + label .fa-heart:last-child {
  display: inline-block;
  opacity: 2;
}

// @for $i from 1 through 5 {
//   #checkbox_#{$i}:checked + label .fa-heart {
//     display: none;
//   }

//   #checkbox_#{$i}:checked + label .fa-heart:first-child,
//   #checkbox_#{$i}:checked + label .fa-heart:last-child {
//     display: inline-block;
//     opacity: 2;
//   }
// }

//animation entrée

@keyframes scale-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(100%);
  }
}

//-----------------------------------------
//animations checks verts

//animation  checked move-in depuis la droite
.anim-check:checked + .card-food::after {
  opacity: 1;
  transform: translateX(-100%);
  animation: move-in 500ms ease-in-out both;

  @keyframes move-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0%);
    }
  }
}
//animation unchecked move-out depuis la gauche
.anim-check:not(:checked) + .card-food::after {
  opacity: 1;
  transform: translateX(100%);
  animation: move-out 500ms ease-in-out both;

  @keyframes move-out {
    from {
      transform: translateX(0%);
    }
    to {
      transform: translateX(100%);
    }
  }
}
//--------------------------------------------
//prix et ellipsis text

input[type="checkbox"]:checked + .card-food {

  
  .h3,
  .price,
  span {
    transform: translateX(-59px);
  }

  .h3, span {
    transform: translateX(0);
    max-width: 245px;
  }

  .h3 {
    transform: translateX(0);
    max-width: 240px;
  }
}
