@import "animations";

h6 {
  display: none;
}
//-----------------------------------------------------
// variables couleurs
$primary-color: #9356dc;
$second-color: #ff79da;
$tertiaire-color: #99e2d0;
$main-back-color: #f6f6f6;
$location-color: #eaeaea;
$green-font: #008766;
$footer-back-color: #353535;
$ico-color: #7e7e7e;
$white-text: white;

$button: linear-gradient(0deg, $primary-color 0%, $second-color 100%);

$button-shadow: 0px 4px 10px 0px #00000040;

// variable font
$logo-font: "shrikhand";

//MIXINS

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin btn-gradient {
  display: flex;
  justify-content: center;
  margin-top: "" px;
  height: "" px;
  align-items: center;
}

@mixin gradient {
  background: $button;
  box-shadow: $button-shadow;
  color: $white-text;
  padding: "" px;
  border-radius: 25px;
  font-size: 16px;
}
//======================================================
//HEADER
.header-r {
  position: relative;
}

.fa-arrow-left {
  color: $footer-back-color;
  position: relative;
  left: 15px;
  bottom: 40px;
  z-index: 3;
}

.main-container-menu {
  @extend .main-container;
  margin-bottom: 0px;
}
@media only screen and (min-width: 1025px) {
  .main-container-menu {
    padding: 0;
    background: $main-back-color;
  }
}

//photos restaurants
.photos-r img {
  object-fit: cover;
  box-sizing: border-box;
  height: 275px;
  width: 100%;
  position: relative;
  bottom: 20px;
}
@media only screen and (min-width: 1025px) {
  .photos-r img {
    height: 500px;
  }
}
//la section des menus
.menus-r {
  position: relative;
  z-index: 4;
  bottom: 75px;
  background-color: $main-back-color;
  border-radius: 33px 33px 0 0;

  //le coeur
  .card-menu-heart-gradient {
    bottom: 50.7px;
    right: 40px;
  }
}
@media only screen and (min-width: 1025px) {
  .menus-r {
    width: 70%;
    margin: 0 auto;
    bottom: 60px;
    border-radius: 33px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .menus-r {
    width: 70%;
    margin: 0 auto;
    border-radius: 33px;
    bottom: 55px;
  }
}
//nom restaurant
.menu {
  display: flex;
  justify-content: space-between;
  padding: 26px 15px 0 15px;
  margin-bottom: 40px;

  & > h2 {
    font-family: $logo-font;
    font-size: 28px;
    font-weight: 200;
  }
}

@media only screen and (min-width: 1025px) {
  .menu {
    margin-left: 33%;
    margin-right: 33%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .menu {
    margin-left: 15%;
    margin-right: 15%;
  }
}

//les coeurs
.card-menu-heart-r {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: -20px;
}

.card-menu-heart-gradient-r {
  @extend .card-menu-heart-r;
  right: 24px;
  bottom: 11px;
  height: 26.5px;
  overflow: hidden;

  .fa-solid {
    opacity: 0;
    padding: 11px 0 11px 0;
    display: inline-block;
    background: linear-gradient(0deg, $second-color 4%, $primary-color 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

//les cartes des restaurants
.food {
  @include flex-column;
  margin: 0 13px 40px 13px;
  animation: scale-in 950ms ease-in-out both;

  & > h2 {
    font-size: 16px;
    font-weight: lighter;
    border-bottom: 3px solid $tertiaire-color;
    width: 40px;
    padding-bottom: 5px;
  }
}

@media only screen and (min-width: 1025px) {
  .food {
    margin-left: 22%;
    margin-right: 22%;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .food {
    margin-left: 15%;
    margin-right: 15%;
  }
}

//les menus
.card-food {
  @include flex-column;
  justify-content: space-between;
  height: 69px;
  background-color: $white-text;
  border-radius: 15px;
  box-shadow: 0px 4.01px 15.04px 0px #0000001a;
  padding: 15px 15px 0 11px;
  position: relative;
  overflow: hidden;
  display: flex;
}

.check {
  cursor: pointer;
}

.text-h3,
span {
  display: inline-block;
  margin: 0;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: transform 500ms ease-in-out;
}
.text-h3 {
  font-size: 18px;
  font-weight: bold;
  display: block;

  & > span {
    font-size: 12px;
    font-weight: lighter;
  }
}

.price {
  display: flex;
  font-weight: bold;
  font-size: 15px;
  position: absolute;
  padding-left: 16px;
  display: block;
  left: 300px;
  bottom: 13px;
  transition: transform 500ms ease-in-out;

  @media only screen and (min-width: 1025px) {
    left: 540px;
  }

  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    left: 325px;
  }
}

//le check vert pseudo::element
.card-food::after {
  content: "\f058"; //icone FA
  position: absolute;
  width: 59px;
  height: 69px;
  background: #99e2d0;
  display: block;
  // border-radius: 0 15px 15px 0;
  top: 0;
  right: 0;
  opacity: 0;
  font-family: "font awesome 5 free";
  font-size: x-large;
  font-weight: 900;
  color: $white-text;
  display: flex;
  justify-content: center;
  align-items: center;
  // transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;

  }












//le bouton
.btn-gradient-menu {
  @extend .btn-gradient;

  .gradient-menu {
    @extend .gradient;
    width: 185px;
    height: 50px;
    text-align: center;
  }
}

@media only screen and (min-width: 1025px) {
  .btn-gradient-menu {
    padding: 30px 0 70px 0;
    border-radius: 33px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .btn-gradient-menu {
    padding: 20px 0 60px 0;
  }
}
