// importation des polices
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");

@import "restaurants";
@import "animations";

// général

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "roboto", sans-serif;
}
body {
  margin: 15px 0 0 0;
}
a {
  text-decoration: none;
  color: inherit;
}

// VARIABLES

// variables couleurs
$primary-color: #9356dc;
$second-color: #ff79da;
$tertiaire-color: #99e2d0;
$main-back-color: #f6f6f6;
$location-color: #eaeaea;
$green-font: #008766;
$footer-back-color: #353535;
$ico-color: #7e7e7e;
$white-text: white;

$button: linear-gradient(0deg, $primary-color 0%, $second-color 100%);

$button-shadow: 0px 4px 10px 0px #00000040;

// variable font
$logo-font: "shrikhand";

//MIXINS

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
@mixin btn-gradient {
  display: flex;
  justify-content: center;
  margin-top: "" px;
  height: "" px;
  align-items: center;
}

@mixin gradient {
  background: $button;
  box-shadow: $button-shadow;
  opacity: 1;
  color: $white-text;
  padding: "" px;
  border-radius: 25px;
  font-size: 16px;
}
//-----------------------------------------------------------
//le loader

.container-load {
  background: $main-back-color;
  box-shadow: 0px 4.01px 15.04px 0px #0000001a;
  width: 100%;
  height: 55px;
  position: fixed;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 15;
  animation: stop-loader 100ms 3000ms both;
}

.loader span {
  font-size: 30px;
  font-family: $logo-font;
  letter-spacing: 3px;
  display: inline-block;
  color: #353535;
  opacity: 1;
  animation: opacity 1000ms ease-in-out infinite both;

  &.o-1 {
    animation-delay: 0ms;
  }
  &.h {
    animation-delay: 250ms;
  }
  &.m {
    animation-delay: 500ms;
  }
  &.y {
    animation-delay: 700ms;
  }
  &.f {
    animation-delay: 950ms;
  }
  &.o {
    animation-delay: 1200ms;
  }
  &.d {
    animation-delay: 1450ms;
  }
}
//animation du loader
@keyframes opacity {
  0% {
    transform: scale(0.8);
    opacity: 0.3;
  }

  45% {
    transform: scale(1.1);
    opacity: 1;
    color: $primary-color;
  }

  100% {
    transform: scale(0.8);
    opacity: 0.3;
  }
}
//stop loader
@keyframes stop-loader {
  to {
    opacity: 0;
    display: none;
  }
}
//affichage contenu du site
#content {
  opacity: 0;
  animation: content-in 500ms 3000ms ease-in-out both;
}

@keyframes content-in {
  to {
    opacity: 1;
  }
}
// fin animation du loader

//HEADER
.header {
  gap: 20px;
}

.logo-h1 {
  font-family: $logo-font, serif;
  font-weight: 700;
  font-size: 30px;
  box-shadow: 0px 2px 4px 0px #00000026;
  height: 53px;
  display: flex;
  justify-content: center;
  z-index: 2;
  position: relative;
}

.location {
  box-shadow: 0px 4px 4px 0px #00000040;
  height: 50px;
  color: $footer-back-color;
  background-color: $location-color;
  gap: 17px;
  display: flex;
  justify-content: center;
  padding: 13px 0px 12px 0px;
  position: relative;
  z-index: 1;
  font-size: 16px;
  font-weight: 500;
}
.main-container {
  margin: 0px;
  padding: 0;
  background-color: $main-back-color;

  @media only screen and (min-width: 1025px) {
    background: $white-text;
  }

  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    background: $white-text;
  }
}
//EXPLORE
.explore {
  @include flex-column;

  align-items: center;
  text-align: center;
  gap: 15px;
  padding: 30px 20px 0px 20px;

  & > h2 {
    margin: 0 30px 0 30px;
  }

  & > p {
    font-size: 18px;
    font-weight: 300;
  }
}
//LE BOUTON
.btn-gradient {
  @include btn-gradient;
  margin-top: 30px;
  height: 50px;
}
.gradient {
  @include gradient;
  padding: 14px 18.75px 14px 18.5px;
  transition: transform opacity ease-in-out;
  transition-delay: 70ms;
  transition-duration: 450ms;

  &:hover {
    opacity: 0.8;
    box-shadow: 0px 4px 15px 0px #00000075;
    transform: opacity;
  }
}
//FONCTIONNEMENT

.fonc-mobil {
  position: relative;
  top: 70px;
  padding: 40px 0 0 17px;
  background: $white-text;

  @media only screen and (min-width: 1025px) {
    padding-left: 235px;
  }
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
display: flex;
justify-content: center;

  }
}

.fonctionnement {
  @include flex-column;
  gap: 25px;
  align-items: center;
  margin-top: 50px;
  padding: 50px 0 70px 0;
  background-color: $white-text;

  @media only screen and (min-width: 1025px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.fonc-group {
  width: 322.5px;
  height: 72.4px;
  border-radius: 20px;
  background-color: $main-back-color;
  border-color: transparent;
  box-shadow: 0px 4px 15px 0px #00000026;
  font-weight: 500;
  font-size: 16px;
  padding-left: 35px;
  padding-top: 25px;
  position: relative;
  margin-left: 10px;
}

.little-btn {
  position: absolute;
  top: 37%;
  right: 97%;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  background-color: $primary-color;
  border-color: transparent;
  color: $white-text;
}

//les icones
.fa-list,
.fa-store {
  margin-right: 20px;
  color: $ico-color;
}
.fa-mobile-screen-button {
  @extend .fa-list;
  margin-right: 24px;
}
.fa-list,
.fa-store,
.fa-mobile-screen-button {
  &:hover {
    color: $primary-color;
  }
}

//les restaurants
.restaurants {
  background-color: $main-back-color;
  padding: 45px 0 60px 0;
  margin: 15px;
  margin-bottom: 0;

  & > .rest-mobil {
    margin-bottom: 20px;
  }
  @media only screen and (min-width: 1025px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 70px 0 80px;
    margin: 0;
  }
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 0;
  }
}

.rest-desk {
  display: none;
}

@media only screen and (min-width: 1025px) {
  .rest-mobil {
    display: none;
  }
  .rest-desk {
    display: block;
    background: $main-back-color;
    padding: 25px 0 20px 235px;
    position: relative;
    bottom: 0px;
  }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .rest-mobil {
    margin-bottom: 15px;
  }
}

//BADGE NOUVEAU
.badge-new {
  position: relative;

  & > .new {
    position: absolute;
    bottom: 208px;
    right: 14px;
    background-color: $tertiaire-color;
    color: $green-font;
    padding: 0px 5px;
    border-radius: 2px;
    border-color: transparent;
    width: 80px;
    height: 29px;
    font-weight: bold;
  }

  @media only screen and (min-width: 1025px) {
    right: 40px;
    top: -40px;
  }

  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    right: -245px;
    top: -15px;
  }
}
//les CARDS restaurants
.card-menu {
  @include flex-column;
  height: 251px;
  background-color: $white-text;
  width: 100%;
  border-radius: 15px;

  @media only screen and (min-width: 1025px) {
    width: 490px;
    margin: 0px 40px 40px 40px;
  }
  @media only screen and (min-width: 601px) and (max-width: 1024px) {
    width: 490px;
  }
}
.card-menu img {
  object-fit: cover;
  height: 185px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px 15px 0px 0px;
  object-position: 0px -55px;

  @media only screen and (min-width: 1025px) {
    width: 490px;
    object-position: 0px -90px;
    margin: 0;
  }
}

//card deuxieme restau
.card-menu-charonne {
  @include flex-column;
  @extend .card-menu;
}
.card-menu-charonne img {
  @extend .card-menu;
  object-position: 0px -150px;

  @media only screen and (min-width: 1025px) {
    object-position: 0px -240px;
  }
}

.card-menu-content-ch {
  @include flex-column;
  @extend .card-menu-content;
  margin-top: 10px;
}
//fin card deuxieme restau

.card-menu .card-menu-content {
  @include flex-column;
  font-size: 16px;
  padding: 0px 15px;
  gap: 3px;
}
//les COEURS
.card-menu-heart {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 45px;
  left: 15px;
}

.card-menu-heart-gradient {
  @extend .card-menu-heart;
  left: -24px;
  bottom: 11px;
  height: 26.5px;
  overflow: hidden;

  .fa-solid {
    opacity: 0;
    padding: 11px 0 11px 0;
    display: inline-block;
    background: linear-gradient(0deg, $second-color 4%, $primary-color 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

//FOOTER
.logo-footer {
  font-family: $logo-font;
  font-size: 20px;
}

.footer {
  @include flex-column;
  background-color: $footer-back-color;
  width: 100%;
  height: 186px;
  padding: 22px 25px 22px 25px;
  gap: 16px;
  color: $white-text;
  justify-content: center;

  .links-footer {
    @include flex-column;
    height: 100px;
    gap: 7px;
  }
  .fa-utensils {
    margin-right: 10px;
  }
  .fa-handshake-angle {
    margin-right: 5px;
  }
}
@media only screen and (min-width: 1025px) {
  .footer {
    display: flex;
    height: 114px;

    .links-footer {
      flex-direction: row;
      justify-content: end;
      position: relative;
      right: 20%;
      gap: 13px;
    }
    .desk-footer {
      padding-right: 33px;
    }
  }
  .logo-footer {
    display: flex;
    justify-content: end;
    position: relative;
    top: 38px;
    right: 40px;
  }
}
